body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
    text-decoration: none
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    font-size: 120%
}

a {
    color: #05386b!important
}

.header {
    background: #5cdb95;
    color: #05386b!important;
    border: none!important
}

.info {
    width: 100%;
    height: 80%
}

#image {
    margin-block-start: -15%;
    height: 100%;
    width: 100%
}

.custom-nav li:hover {
    background: #b8ffcb
}

.dropdown:hover .dropdown-content {
    display: block
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    z-index: 1;
    margin-left: 0;
    padding-left: 0
}

.panel-body .checkbox,
.panel-body .radio {
    margin-top: 0;
    margin-bottom: 0
}

.panel-body .list-group {
    margin-bottom: 0
}

.margin-bottom-none {
    margin-bottom: 0
}

.panel-body .checkbox label,
.panel-body .radio label {
    display: block
}

.panel-body:not(.two-col) {
    padding: 0
}

.noresize {
    resize: none
}

@media screen and (max-width:767px) {
    .info {
        float: none;
        width: 100%
    }
    .poll {
        float: none;
        width: 100%
    }
}