.info-graph {
    border: 2px solid #fff!important;
    border-radius: 5px;
    background: #fff!important;
    color: #05386b!important;
    box-shadow: 0 0 6px #fff!important
}

.graph-info {
    margin-block-start: 1%;
    text-align: left;
    background: #fff!important;
    border: 2px solid #fff!important;
    box-shadow: 0 0 6px #fff!important;
    left: 8.3%
}

.main-graph {
    border: 5px solid #fff!important;
    margin-block-end: 2%;
    box-shadow: 0 0 6px #fff!important
}

.links {
    background: #fff!important;
    border: 5px solid #fff!important;
    box-shadow: 0 0 6px #fff!important;
    margin-block-start: 3.5%;
    margin-block-end: 3.5%
}

.linkDeco ul li a {
    text-decoration: none
}

.linkDeco {
    background: #fff!important
}

.ranks {
    margin-inline-end: 1px
}

.ranks p {
    font-size: 115%;
    margin: 15px 15px 15px 15px
}

.ranks h3 {
    color: #05386b!important
}

.custom-nav li:hover {
    background: #b8ffcb
}

.links-list li:hover {
    background: #b8ffcb
}

.OuterDiv {
    width: 90%;
    margin-block-start: 1%;
    margin-block-end: 2%;
    margin-inline-start: 5%;
    margin-inline-end: 5%;
    height: 40%;
    transition: .3s ease-in-out;
    position: relative
}

.LeftBlock {
    float: left;
    margin-inline-end: 1.5%;
    margin-inline-start: 1.5%;
    margin-block-start: 3%;
    margin-block-end: 2.5%;
    width: 41%;
    height: 80%;
    display: block;
    border: .5px solid #fff;
    border-radius: 5px
}

.RightBlock {
    float: right;
    display: block;
    width: 41%;
    margin-inline-end: 1.5%;
    margin-inline-start: 1.5%;
    margin-block-start: 2.5%;
    margin-block-end: 3%;
    height: 80%;
    border: .5px solid #fff;
    border-radius: 5px
}

.Des1 {
    text-decoration: none;
    display: block!important;
    overflow: auto
}

.Des2 {
    text-decoration: none!important;
    display: block!important;
    overflow: auto
}

.Des1 a :hover {
    color: #05386b!important
}

.Des2 a :hover {
    color: #05386b!important
}

.lis {
    background: #fff!important
}

.lis:hover {
    background: #fff!important
}

@media screen and (max-width:767px) {
    .LeftBlock {
        float: none;
        height: 200%!important;
        width: 100%!important;
        height: 100%!important;
        margin-top: 1%!important
    }
    .RightBlock {
        float: none;
        height: 200%!important;
        width: 100%!important;
        height: 100%!important;
        margin-top: 1%!important
    }
    .OuterDiv {
        margin-block-start: 110%;
        margin-block-end: 0
    }
    .desc-graphs {
        display: none;
        visibility: hidden
    }
}

.myBtn {
    background: #5cdb95!important;
    color: #05386b!important;
    border: 2px #5cdb95 solid!important;
    border-radius: 3px!important;
    transition: transform .2s ease-in-out;
    letter-spacing: .15px;
    text-align: center
}

.myBtn:hover {
    transform: scale(1.05)
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: .4s;
    animation-name: fadeIn;
    animation-duration: .4s
}

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: .4s;
    animation-name: slideIn;
    animation-duration: .4s
}

.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: 700
}

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cdb95;
    color: #fff
}

.modal-body {
    padding: 2px 16px
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cdb95;
    color: #fff
}

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}