html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}

.sidebar {
    will-change: transform;
}

#mapid {
    height: 700px;
}

a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

.navbar-title {
    margin: auto 0;
    font-size: 28px;
    font-weight: 600;
    width: 50vw;
}

.nav-item {
    padding-right: 15px;
}

.nav-link {
    letter-spacing: 0.5px;
    color: black !important;
}

.navbar-inner {
    padding-bottom: 2px;
    border-bottom: 1px solid;
}

.card {
    margin: 10px 0px;
    font-weight: 600;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
    border-bottom: 1px solid #dfdfdf;
}

.main-text {
    margin: 20px 0;
    padding-bottom: 50px;
    font-size: 1.1rem;
}

.paper-reference {
    background-color: #f7f7f7;
    padding: 20px 0;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.paper-image-container {
    text-align: center;
}

.research-paper-img {
    height: 150px;
}

.dataset-container {
    margin-bottom: 30px;
}

.dataset-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dataset-img {
    height: 220px;
    padding: 20px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}

.container-heading {
    font-size: 22px;
    font-weight: 500;
}

.container-content {
    max-height: 280px;
    overflow-y: scroll;
}

.container-content::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.table {
    background-color: #f8f9fa;
}

.overall-image-container {
    display: block;
    margin: auto;
}

.text-container {
    margin-top: 20px;
}

.maps-container {
    margin-top: 20px;
}

.city-map {
    width: 100%;
    height: 400px;
}

.city-map-label {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.map-radio-btns {
    margin-top: 20px;
    justify-content: center;
}

.section-heading-ques {
    font-size: 20px;
    font-style: italic;
}

.section-inferences {
    margin-top: 10px;
}

.section-image {
    width: 100%;
    border: 1px solid #dfdfdf;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .main-cards {
        margin-top: 0%;
    }
    .paper-reference {
        padding: 10px;
    }
    .dataset-img {
        width: 100%;
        margin-bottom: 10px;
    }
    .container-content {
        max-height: 350px;
        border-bottom: 1px solid #dfdfdf;
    }
    .map-radio-btns {
        margin-top: 10px;
        margin-left: 10px;
        justify-content: flex-start;
    }
    .section-image {
        width: 100%;
    }
    .navbar-title {
        font-size: 20px;
        width: 70vw;
    }
}

.legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 5px;
    margin: 5px;
    border: 1px solid #000;
}

.legend h3 {
    margin-top: 0;
}

.legend img {
    vertical-align: middle;
}